@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	font-family: 'Montserrat', sans-serif;
}

html {
	scroll-behavior: smooth;
}

section {
	padding-top: 20px;
}

a:hover{
	text-decoration: none;
}

#home {
  background: url(https://i.imgur.com/qlZkzw3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.full-page {
	height: 100vh;
}

.center {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.links {
	word-spacing: 5px;
}

.links a {
	color: #fff;
}

.github:hover {
	color: #fff;
}

.linkedin:hover {
	color: #007bb5;
}

.stackoverflow:hover {
	color: #f48024;
}

.arrow {
	position: absolute;
	text-align: center;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	margin: 0;
	top: 52vh;
}

/* Styling for the animated arrows */

#more-arrows {
	width: 75px;
	height: 65px;
}

#more-arrows:hover polygon {
	fill: #fff;
	transition: all .2s ease-out;
}

#more-arrows:hover polygon.arrow-bottom {
	-webkit-transform: translateY(-18px);
	transform: translateY(-18px);
}

#more-arrows:hover polygon.arrow-top {
	-webkit-transform: translateY(18px);
	transform: translateY(18px);
}

polygon {
	fill: #fff;
	transition: all .2s ease-out;
}

polygon.arrow-middle {
	opacity: 0.75;
}

polygon.arrow-top {
	opacity: 0.5;
}

/* END */

.skill {
	display: grid;
  grid-template-columns: 30vw 30vw;
  grid-gap: 10px;
}

/* Custom bootstrap addons */
.bg-pink {
	background-color: #FF69B4 !important
}

.bg-redux {
  background-color: #764abc !important
}

.bg-git {
  background-color: #f14e32 !important;
}

.custom-jumbotron {
	padding: 1rem 1rem;
	margin-bottom: 1rem;
	background-color: white;
}

@media (min-width:576px) {
	.custom-jumbotron {
		padding: 4rem 2rem
	}
}
/* END */
