@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    font-family: 'Montserrat', sans-serif;
}

section {
    height: 100vh;
}

.center { 
    position: absolute;
    text-align:center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.links {
    word-spacing: 5px;
}

.links a{
    color: #333;
}

.github:hover{
    color: #333;
}

.linkedin:hover{
    color: #4875B4;
}

.stackoverflow:hover{
    color: #f48024;
}